extends layout

block content

	.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
		h1.h2 About
	p Dell Digital College Internship Program
	h3 Team Members (#13)
	div.row
		div.col-sm-6
			table.table.table-sm.table-borderless
				tbody
					tr
						td Aditya Bose
						td 169108006
						td adityabosevevo@gmail.com
					tr
						td Arshita Malhotra
						td 169108033
						td arshitamalhotra1998@gmail.com
					tr
						td Ayush Jindal
						td 169108036
						td ayushmaan.j@gmail.com
					tr
						td Satabdi Nayak
						td 169107147
						td satabdinayak10@gmail.com
