extends layout

block content

	h3.und Problem
	p AI/Machine learning capability to build/suggest on how to sale the system which is lying more than 90 days in 3PLs which will help to clearing out aging inventory.
	h3.und Description
	p Building an analytics capability that rapidly provides context and help business to make decisions based on inventory freshness or ageing.
	div
		ul
			li audit functionality to better understand the current status of an item,
			li ways to reduce time people spend on reconciliation or discrepancies,
			li user should be able to toggle rules on and off and see the effect of doing so in the broad view
	h3.und Diagram
	div.container-fluid
		div.row
			div.col-md-4
				figure.figure
					img(src='/images/usecase.png').figure-img.img-fluid
					figcaption.figure-caption Use Case Diagram
			div.col-md-6
				figure.figure
					img(src='/images/flowchart.png').figure-img.img-fluid
					figcaption.figure-caption Flowchart