extends layout

block content

	h3.und Statistics
	h3.und Training Set
	div
		ul
			li Sample size: 80000
			li MSE Loss: 0.016
		h3 Test Set
		ul
			li Sample size: 20000
			li MSE Loss: 0.11
	h3.und Diagram
	div.container-fluid
		div.row
			div.col-md-4
				figure.figure
					img(src='/images/img2.png').figure-img.img-fluid
					figcaption.figure-caption Use Case Diagram